{% extends "_base.html" %}

{% block head %}
  "head": {
    "offline": "{{head_offline}}",
    "title": "{{header_title}}",
    "actions": {
      "ahref_handler": [{
          "type": "$href",
          "options": {
            "view": "app",
            "url": {% raw %} "{{$jason.url}}" {% endraw %}
          }
        }
      ],
      "navigate": {
          "type": "$href",
          "options": {
              "url": "{{base_url_jason}}/native-transition.json",
              "options": {
                  "url": {% raw %} "{{$jason.url}}" {% endraw %}
              }
          }
      }
    }
  }
{% endblock %}

{% block body %}
  "body": {
      "header": {
          {% include 'components/_body_header.json' %}
      },
      "background": {
          "type": "html",
          "text":"http://localhost.com:8080",
          "action": {
            "trigger": "navigate"
          },
          "style": {% include 'components/_background_style.json' %}
      }
  }
{% endblock %}

{% block footer %}
  "footer": {
      "tabs": {
        {% filter indent(width=8) %} {% include 'components/_footer_tabs.json' %} {% endfilter %}
    }
  }
{% endblock %}