{% extends "_base.html" %}

{% block head %}
"head": {
    "offline": "{{head_offline}}",
    "title": "{{header_title}}",
    "actions": {
        "$load": {
            "type": "$set",
            "options": {
                "url": [{
                    {% raw %} "{{#if $params && 'url' in $params}}": "{{$params.url}}" {% endraw %}
                }, {
                    {% raw %} "{{#else}}": "https://www.google.com" {% endraw %}
                }]
            },
            "success": {
                "type": "$render"
            }
        },
        "navigate": {% include 'components/_navigate_tab.json' %},
        "navigate_tab": {% include 'components/_navigate_tab.json' %}
    },
    "templates": {
        "body": {
            "header": {
              {% include 'components/_body_header.json' %}
            },
            "background": {
                "type": "html",
                "url": {% raw %} "{{$get.url}}" {% endraw %},
                "action": {
                  "trigger": "navigate"
                },
                "style": {% include 'components/_background_style.json' %}
            },
            "footer": {
                "tabs": {
                    {% filter indent(width=24) %} {% include 'components/_footer_tabs.json' %} {% endfilter %}
                }
            }
        }
    }
}
{% endblock %}